*{
    margin: 0px;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    color: #000;
}
#header{
    
}
.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 240px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    animation: 6s linear ;
    transition: width 2s linear 1s;
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    transition: width 2s linear 1s;
    color: #ff004f;
}

.about{
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about.sonu{
    max-width: 100px;
    text-align: center;
}
 .sonu h2{
    font-size: 50px;
    margin-left: 400px;
    font-weight: 700;
    color: #1bbb5e;
}
.sonu p{
    margin-top: 40px;
    font-weight: 400px;
    justify-content: center;
    align-items: center;
    color: #6f2a2a;
    line-height: 22px;
    letter-spacing: 1px;
}

/*-----------------choose us----------------*/

.choose{
    width: 100%;
    padding: 78px 0px;
}
.choose img{
    height: auto;
    width: 420px;
}
.choose-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.choose-text h2{
    color: rgb(52, 166, 109);
    margin-left: 1px;
    font-size: 40px;
    margin-top: -5px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.choose-text h5{
    color: red;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.choose-text p{
    font-weight: 400px;
    justify-content: center;
    align-items: center;
    color: #6f2a2a;
    line-height: 30px;
    letter-spacing: 1px;
}

/*-----------------services----------------*/


.services .serv h2{
    margin-top: 15px;
    font-size: 50px;
    margin-left: 40px;
    font-weight: 700;
    color: #1bbb5e; 
   display: flex;
   justify-content: center;
    text-align: center;
}
.serv h4{
    color: red;
    font-size: 35px;
    margin: 25px;
    margin-left: 320px;
    font-weight: 550;
}
.serv h3{
    color: rgb(110, 110, 206);
    font-size: 40px;
    justify-content: center;
    text-align: center;
    
    margin-top: 5px;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: underline;
}
.serv p{
    margin-top: 20px;
    font-weight: 400px;
    justify-content: center;
    align-items: center;
    color: #6f2a2a;
    line-height: 25px;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 100px;
    display: flex;
}

/*-----------------contact us----------------*/

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .info{
    max-width: 800px;
    text-align: center;
}
.contact .info h2{
    margin-top: 15px;
    font-size: 50px;
    margin-left: 60px;
    font-weight: 700;
    color: #1bbb5e; 
}
.last{
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px ;
}
.last .contactinfo{
    margin  : 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.last .contactinfo .box{
    position: relative;
    padding: 20px 0;
    margin-right: 100px;
    display: flex;
}
.last .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #d6deee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.last .contactinfo .box .text{
    display: flex;
    margin-left: 30px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.last .contactinfo .box .text h3{
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
    color: red;
}
.last .contactinfo .box .text p{
    margin: 5px;
}
/* .contactform{
    padding: 40px;
    background: #1453c8;
}
.contactform h2{
    font-size: 30px;
    color: rgb(182, 130, 61);
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width:100%;
    margin-top: 10px;
}
.contactform .inputbox input,
 .contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
} */


.csonu a{
   
    color: #000;
    margin-left: 220px;
    font-size: 18px;
    font-weight: 600;
}
.carrier{
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrier h2{
    font-size: 50px;
    margin-left: 300px;
    margin-bottom: 50px;
    font-weight: 700;
    color: #1bbb5e;
}